project_id = "xkhsakqmyphneyyartiz"

[api]
enabled = true
port = 54321
schemas = ["public", "storage", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
enabled = true
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
enable_signup = true
enable_confirmations = true

[auth.email.template.confirmation]
subject = "Verify Your Email - TripTrac"
content_path = "./supabase/templates/confirmation.html"

[functions]
enabled = true

[functions.generate-trips-report]
verify_jwt = true

[functions.generate-trucks-report]
verify_jwt = true

[functions.generate-customers-report]
verify_jwt = true

[functions.create-user]
verify_jwt = true

[functions.auto-start-trips]
verify_jwt = true

[functions.delete-user]
verify_jwt = true